    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: #020A18;
        font-family: sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    .top {
        padding-bottom: 71px;
    }
    
    .header {
        padding-top: 39px;
        padding-bottom: 34px;
    }
    
    .top_content {
        margin-top: 165px;
        margin-bottom: 184px;
    }
    
    .top_info_subtitle {
        margin-bottom: 10px;
    }
    
    .top_info_title {
        margin-bottom: 40px;
    }
    
    .top_buttons {
        margin-top: 50px;
    }
    
    .content {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 362px);
        justify-content: center;
        padding-top: 264px;
        padding-bottom: 243px;
    }
    
    .heading {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
    }
    
    .heading_big {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
    }
    
    .item_text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .item {
        background: #132035;
        border-radius: 10px;
        padding: 30px;
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 30px;
    }
    
    .item_big {
        background: #132035;
        border-radius: 10px;
        padding: 30px 30px 144px 30px;
        grid-column: span 2;
        grid-row: span 2;
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 60px;
    }
    
    .item_big_text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
    }