* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    padding-bottom: 71px;
}

.header {
    padding-top: 39px;
    padding-bottom: 34px;
}

.top_content {
    margin-top: 165px;
    margin-bottom: 184px;
}

.top_info_subtitle {
    margin-bottom: 10px;
}

.top_info_title {
    margin-bottom: 40px;
}

.top_buttons {
    margin-top: 50px;
}