                                * {
                                    margin: 0;
                                    padding: 0;
                                }
                                
                                a {
                                    text-decoration: none;
                                }
                                
                                .center {
                                    padding-left: calc(50% - 645px);
                                    padding-right: calc(50% - 645px);
                                }
                                
                                .header {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 346px;
                                }
                                
                                .body {
                                    font-family: 'Gilroy-Bold', sans-serif;
                                }
                                
                                .header_logo {
                                    margin-top: 40px;
                                }
                                
                                .menu {
                                    font-size: 14px;
                                    line-height: 16px;
                                    color: #0a0a0a;
                                    margin-top: 40px;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 30px;
                                }
                                
                                .menu_home {
                                    font-size: 14px;
                                    line-height: 16px;
                                    color: #F25822;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .top_content {
                                    margin-top: 21px;
                                    display: flex;
                                    flex-direction: row-reverse;
                                    flex-wrap: wrap;
                                    align-content: center;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .top_info_title {
                                    width: 522px;
                                    font-size: 60px;
                                    line-height: 70px;
                                    color: #000000;
                                    margin-top: 95px;
                                }
                                
                                .top_text {
                                    width: 466px;
                                    font-size: 20px;
                                    line-height: 23px;
                                    color: #888888;
                                }
                                
                                .top_info_buttons {
                                    margin-top: 81px;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    justify-content: flex-start;
                                    gap: 27px;
                                }
                                
                                .top_info_buttons_caption {
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: #AAAAAA;
                                }
                                
                                .top_log {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-content: center;
                                    align-items: center;
                                    gap: 48px;
                                    margin-top: 118px;
                                    padding-top: 39px;
                                    padding-bottom: 34px;
                                }